extends layout

block page 
	- var menu = 'index'
block content
	if (vouchers.length === 0)
		| No vouchers yet. 
	else 
		each voucher in vouchers
			- voucher = voucher.toJSON()
			div
				h2
					a(href="/api/vouchers/#{voucher.code}")= voucher.code
					a(href="/vouchers/#{voucher.code}/edit")  Edit
					a(href="/api/vouchers/#{voucher.code}", data-method="delete")  Delete
